@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Os  wald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --black: #0a0b11;
  --white: #ffffff;
  --navbar-icon: #ffffff;
  --navbar-text: #ffffff;
  --navbar: #252641;
  --primary: #7f00ff;
  --background-bg-light: #ffffff;
  --background-bg-dark: #171827;
  --secondary-bg-light: #ffffff;
  --secondary-bg-dark: #252641;
  --text-light: #0a0b11;
  --text-dark: #ffffff;
  --icon-light: #0a0b11;
  --icon-dark: #ffffff;
  --secondary-text-light: #797979;
  --secondary-text-dark: #dadada;
  --base-light: #ffffff;
  --base-dark: #0a0b11;
  --highlight-light: grey;
  --highlight-dark: blueGrey;
  --error: red;
}

html {
  scroll-behavior: smooth;
}
body {
  background: var(--background-bg-dark);
  font-family: "Afacad", sans-serif;
}
.no-scroll::-webkit-scrollbar {
  display: none;
}
.logo-futzone {
  font-family: "Oswald", sans-serif;
}

.clamp1 {
  font-size: clamp(1.5rem, 5vw, 2.8rem);
}
.clamp2 {
  font-size: clamp(1.1rem, 5vw, 2rem);
}

.clamp3 {
  font-size: clamp(1.1rem, 4vw, 1.3rem);
}
.clamp4 {
  font-size: clamp(12px, 3vw, 1.3rem);
}
.clamp5 {
  font-size: clamp(8px, 2vw, 0.8rem);
}
.clamp5 {
  font-size: clamp(8px, 2vw, 0.7rem);
}

.clamp2Half {
  font-size: clamp(1.1rem, 5vw, 1.5rem);
}

.clamp3Half {
  font-size: clamp(0.9rem, 3.5vw, 1.1rem);
}
.clamp4Half {
  font-size: clamp(0.7rem, 3vw, 0.9rem);
}
.blur-effect {
  filter: blur(10px);
}

.dad {
  color: #e43f3f;
}

/* custom-styles.css */

/* Dark mode styles */
.dark .bg-scaffoldBg-dark {
  background-color: #171827;
}

.dark .bg-secondaryBg-dark {
  background-color: #252641;
}

.dark .text-text-dark {
  color: #ffffff;
}

.dark .text-icon-dark {
  color: #ffffff;
}

.dark .text-secondaryText-dark {
  color: #dadada;
}

.dark .bg-base-dark {
  background-color: #0a0b11;
}

.dark .bg-highlight-dark {
  background-color: blueGrey;
}

/* Light mode styles */
.bg-scaffoldBg-light {
  background-color: #ffffff;
}

.bg-secondaryBg-light {
  background-color: #ffffff;
}

.text-text-light {
  color: #0a0b11;
}

.text-icon-light {
  color: #0a0b11;
}

.text-secondaryText-light {
  color: #797979;
}

.bg-base-light {
  background-color: #ffffff;
}

.bg-highlight-light {
  background-color: grey;
}

/* Common styles */
.bg-black {
  background-color: #0a0b11;
}

.bg-white {
  background-color: #ffffff;
}

.text-appbarIcon {
  color: #ffffff;
}

.text-appbarText {
  color: #ffffff;
}

.bg-appbar {
  background-color: #252641;
}

.bg-main {
  background-color: #7f00ff;
}

.text-error {
  color: red;
}
