@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Os  wald:wght@200..700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background: #212227;
  font-family: "Robot,sans-serif";
}

.logo-futzone {
  font-family: "Oswald", sans-serif;
}

.clamp1 {
  font-size: clamp(1.5rem, 5vw, 2.8rem);
}
.clamp2 {
  font-size: clamp(1.1rem, 5vw, 2rem);
}

.clamp3 {
  font-size: clamp(1.1rem, 4vw, 1.3rem);
}
.clamp4 {
  font-size: clamp(10px, 3vw, 1rem);
}
.clamp5 {
  font-size: clamp(8px, 2vw, 0.8rem);
}
.clamp5 {
  font-size: clamp(8px, 2vw, 0.7rem);
}

.clamp2Half {
  font-size: clamp(1.1rem, 5vw, 1.5rem);
}

.clamp3Half {
  font-size: clamp(0.9rem, 3.5vw, 1.1rem);
}
.clamp4Half {
  font-size: clamp(0.7rem, 3vw, 0.9rem);
}
.blur-effect {
  filter: blur(10px);
}
